* {
    box-sizing: border-box;
}

body {
    color: #20252A;
    font-family: 'Noto Sans', sans-serif;
}

a {
    text-decoration: none;
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1264px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    border-radius: 90px;
    border: 2px solid var(--Light-Quaternary, #E8E8E8);
    background: var(--Light-Primary, #FFF);
    display: inline-flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--Dark-Primary, #20252A);
    font-family: Noto Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 0 0 -20px;
}
.btn:hover{
    background: #a8a7a7;
}

.btn-green {
    background-color: #42EC9A;
    border: 0;
}

.btn-green:hover{
    background: #00734D;
}

/* HEADER */
header {
    top: 0;
    width: 100%;
    height: 72px;
    display: flex;
    z-index: 2024;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

header .container nav {
    display: flex;
    gap: 40px;
}

header a {
    color: #20252A;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
header a:hover{
    color: #00734D;
} 




/* S-HERO */
.s-hero {
    width: 100%;
    background: url('img/bg-hero.jpg') no-repeat center center;
    background-size: cover;
    height: 640px;
}

.s-hero .container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    animation: fadeLeft 1s forwards;
}

.s-hero .headline {
    width: 100%;
    max-width: 501px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 248px;
    margin-bottom: 24px;
}

.s-hero .headline h1 {
    color: var(--Light-Primary, #FFF);
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}

.s-hero .headline p {
    color: var(--Light-Primary, #FFF);
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}




/* S-FRAME01 */
.s-frame01 {
    width: 100%;
    background: #F9F9F9;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 58px;
}

.s-frame01 .headline {
    width: 338px;
    height: 236px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
    margin-bottom: 24px;
    animation: fadeLeft 1s forwards;
}

.s-frame01 .headline h2 {
    font-family: Noto Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.s-frame01 .headline span {
    color: var(--Default-Green-Principal, #00A868) !important;
}

.s-frame01 .headline p {
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
}


/* S-FRAME 02 */
.s-frame02 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 112px;
    padding: 56px 0;
}

.content-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

}

.s-frame02 .right {
    width: 472px;
    height: 218px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: flex-start;
    justify-content: center;
    animation: fadeRight 1s forwards;
}

.headline-frame {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subtitle-frame {
    color: #00734D;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

.title-frame {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}

.description-frame {
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
}

.links-frame {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.left {
    width: 456px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    
}

.left:focus{
    animation: fadeLeft 1s forwards;
}

.links-frame a {
    display: flex;
    color: #00734D;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
}

.links-frame a:hover{
    color: #42EC9A;
}

.apps-frame {
    display: flex;
    gap: 20px;
}


/* S-FRAME 03 */
.s-frame03 {
    width: 100%;
    background-color: #EFF4F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0px;
}

.s-frame03 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 774px;
    gap: 24px;
}

.s-frame03 h4 {
    color: #20252A;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.s-frame03 h4 span {
    color: var(--Default-Green-Principal, #00A868);
}

.s-frame03 .btns {
    display: flex;
    gap: 32px;
}

.s-frame03 .btns .btn {
    display: flex;
    padding: 16px 36px;
    justify-content: flex-end;
    align-items: center;
}


/* S-CONTACT */
.s-contact {
    width: 100%;
    background: #31383F;
    color: #FFF;
    padding: 80px 0;
}

.s-contact .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.s-contact .content-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.s-contact .content-contact h5 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.s-contact .content-contact p {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.s-contact .content-contact a {
    color: #00A868;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    display: flex;
    align-items: center;
    margin-top: 4px;
}

.s-contact .content-contact a:hover{
    color: #42EC9A;
}




/* FOOTER */
footer {
    width: 100%;
    background: #20252A;
    padding: 80px 0px;
}

footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* KEYFRAMES */
@keyframes fadeLeft {
    from{
        opacity: 0;
        transform: translateX(-20px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeRight {
    from{
        opacity: 0;
        transform: translate(20px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}